# Backend
backend/target/
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Android
android/.gradle/
android/build/
android/local.properties
android/.idea/
android/*.iml

# General
.DS_Store
*.log
